@testing-library/jest-dom@5.16.5
@testing-library/react@13.4.0
@testing-library/user-event@13.5.0
bootstrap@5.2.3
dotenv-webpack@8.0.1
firebase@9.17.1
mdbreact@5.2.0
react-bootstrap@2.7.2
react-countup@6.4.1
react-dom@18.2.0
react-icons@4.7.1
react-router-dom@6.8.1
react-scripts@5.0.1
react@18.2.0
styled-components@5.3.6
└── web-vitals@2.1.4