#table {
    display: grid;
    grid-template-columns: 390px 390px 390px;
    column-gap: 20px;
    grid-template-rows: 300px 300px 300px;
    row-gap: 130px;
    padding-left: 120px;
    

}

#images {
    height: 350px;
    width: 100%;
}

#title { 
    font-size: 40px;
    font-weight: bold;
}

.FAQ__question {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .FAQ__question:hover {
    cursor: pointer;
  }
  
  .FAQ__answer--hidden {
    display: none;
    
  }

.FAQ__answer {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }
