#table {
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 270px 270px 270px;
    column-gap: 3%;
    row-gap: 130px;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

#text{
  margin-top: 25px;
  padding-left: 250px;
  padding-right: 250px;
}

#images {
    height: 350px;
    width: 100%;
}

#title { 
    font-size: 40px;
    font-weight: bold;
}

.FAQ__question {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .FAQ__question:hover {
    cursor: pointer;
  }
  
  .FAQ__answer--hidden {
    display: none;
    
  }

.FAQ__answer {
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
  }
