h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

*{
    font-family: 'Montserrat';
}

#gfm-form {
    width: 50vh;
}

.sitesection {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

#pastpartnersection {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-top: 3%;
    align-items: flex-start;
}

.text-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
    align-items: flex-start;
}