@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

#background-picture {
    width: 100%;
    margin-top: -3.5rem;
}

#catalog-holder {
    display: flex;
    justify-content: center;
}

#catalog {
    width: 90%;
    padding: 20px 0px 0px 0px;
}

.catalog-picture {
    width: 45%;
    justify-self: center;
    padding: 35px 10px 10px 20px;
}

.catch-logo { 
    padding: 40px 0px 40px 0px;
    width: 6%;
}