.header {
    font-family: 'Poppins';
    background-color: #f36f39;
    height: 60px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-logo {
    height: 180%;
    max-height: 40px;
    max-width: 60px;
}

#header-logo {
    color: white;
}


.nav-link, .nav-link:focus{
    font-size: large;
    font-weight: 300;
    color: white;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.782);
}

.collapse-nav {
    background-color: #f36f39;
}
