@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

.header {
    background-color: #f36f39;
}

.nav-logo {
    max-height: 70px;
    max-width: 70px;
}

.header-logo, .header-logo:focus, .header-logo:hover {
    color: white;
}

.nav-link, .nav-link:focus{
    font-size: large;
    font-weight: 350;
    color: white;
}

.nav-link:hover {
    color: white;
    font-weight: 450;
}


.search-button {
    color: white;
}