@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    font-family: 'Poppins';
    background-color: #f36f39;
    height: 59px;
    color: white;
    padding-left: 20px;
    padding-right: 10px;
}

.nav-logo {
    height: 180%;
    max-height: 40px;
    max-width: 60px;
    color: white;
}

#header-logo {
    color: white;
}


.nav-link, .nav-link:focus{
    font-size: large;
    font-weight: 350;
    color: white;
}

.nav-link:hover {
    color: white;
    font-weight: 450;
}

.nav-link.active {
    font-weight: bold;
}


.search-button {
    color: white;
}

.collapse-nav {
    background-color: #f36f39;
}
